@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(25rem); }
  40% {
    transform: translateX(0rem); }
  55% {
    transform: translateX(-10rem); }
  65% {
    opacity: 1;
    transform: translateX(0); }
  75% {
    opacity: 0;
    transform: translateX(0); }
  100% {
    opacity: 0;
    transform: translateX(0); } }

@keyframes shake {
  0% {
    transform: translateX(0); }
  55% {
    transform: translateX(-10rem); }
  65% {
    transform: translateX(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #fff; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem; }
  .heading-primary--big {
    display: inline-block;
    font-size: 8rem;
    font-weight: 400;
    letter-spacing: 3rem; }
  .heading-primary--small {
    display: block;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 2rem; }
  .heading-primary--move {
    animation: moveLeft 5s ease-out;
    animation-delay: 1s;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite; }
  .heading-primary--shake {
    animation: shake 5s ease-out;
    animation-delay: 1s;
    animation-iteration-count: infinite; }

.heading-secondary {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 0.1rem 0.5rem 2rem rgba(0, 0, 0, 0.2);
  transition: all .5s; }
  .heading-secondary--blue {
    background-image: linear-gradient(to right, #bbe1fa, #0f4c75); }
  .heading-secondary--white {
    color: white; }
  .heading-secondary:hover {
    letter-spacing: 8px;
    transform: scale(1.5);
    text-shadow: 0.5rem 1rem 4rem rgba(0, 0, 0, 0.8); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #0f4c75; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.fa-laptop-code {
  font-size: 6rem;
  float: left;
  color: #3282b8;
  transform: translateX(-2rem); }

.u-center-text {
  text-align: center; }

.u-margin-bot-sm {
  margin-bottom: 2rem; }

.u-margin-bot-md {
  margin-bottom: 4rem; }

.u-margin-bot-lg {
  margin-bottom: 8rem; }

.u-margin-top-sm {
  margin-top: 2rem; }

.u-margin-top-md {
  margin-top: 4rem; }

.u-margin-top-lg {
  margin-top: 8rem; }

.feature-box {
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .2s;
  height: 32rem; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to bottom, #bbe1fa, #0f4c75);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }
  .feature-box__item {
    color: #0f4c75;
    list-style: none;
    text-decoration: none; }
    .feature-box__item:not(:last-child) {
      border-bottom: 2px solid #eee; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 5rem; }
  .row .col-1-of-2 {
    width: calc((100% - 5rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 5rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 5rem) / 3) + 5rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 5rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 5rem) / 4) + 5rem); }
  .row .col-3-of-4 {
    width: calc(3* ((100% - 3 * 5rem) / 4) + (2 * 5rem)); }

.header {
  padding: 20rem;
  padding-top: 15rem;
  background-image: linear-gradient(to right bottom, rgba(187, 225, 250, 0.8), rgba(15, 76, 117, 0.8)), url(../images/princess.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  position: relative; }
  .header__shape {
    position: relative;
    display: inline-block; }
    .header__shape:hover .header__caption {
      opacity: 0; }
    .header__shape:hover .header__picture {
      filter: blur(0) brightness(100%); }
  .header__picture {
    width: 20rem;
    height: 20rem;
    border-radius: 100rem;
    filter: blur(5px) brightness(50%);
    transition: all .5s;
    clip-path: circle(50%);
    border: 5px solid #fff; }
  .header__caption {
    font-size: 5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s; }

.social {
  position: absolute;
  left: 0;
  top: 0; }
  .social__link:link, .social__link:visited {
    text-decoration: none;
    float: left;
    color: #fff;
    padding: .5rem;
    transition: all .5s ease-out;
    margin-right: 2rem; }
    .social__link:link:hover, .social__link:visited:hover {
      color: #777; }
  .social__picture {
    font-size: 4rem; }

.nav {
  position: absolute;
  right: 0;
  top: 0; }
  .nav__item {
    list-style: none;
    float: right;
    padding: 1rem;
    margin-left: 2rem;
    font-size: 2rem;
    transition: all .4s ease-in; }
    .nav__item:hover {
      background-color: #777; }
  .nav__link:link, .nav__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff; }

.intro {
  background-color: #fff;
  padding: 20rem;
  margin-top: -12rem; }
  .intro__box {
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    background-color: #eee;
    border-radius: 10px;
    padding: 3rem;
    padding-left: 5rem; }
  .intro__text {
    color: #3282b8;
    font-size: 1.6rem; }

.skills {
  padding: 20rem 0;
  padding-top: 10rem;
  background-image: linear-gradient(to right bottom, rgba(187, 225, 250, 0.8), rgba(15, 76, 117, 0.8)), url(../images/nyc.jpg);
  background-size: cover;
  background-position: top;
  transform: skewY(-3deg); }
  .skills > * {
    transform: skewY(3deg); }

.projects {
  padding: 20rem;
  background-color: #fff;
  margin-top: -12rem; }
  .projects__box {
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    background-color: #eee;
    border-radius: 10px;
    padding: 4rem;
    padding-right: 6rem; }
    .projects__box::after {
      content: "";
      display: table;
      clear: both; }
  .projects__text {
    color: #3282b8;
    font-size: 1.6rem; }
  .projects__picture {
    width: 40%;
    float: right;
    transform: translateX(2rem);
    transition: all .2s; }
    .projects__picture--small {
      width: 14%; }
    .projects__picture:hover {
      transform: translateX(0); }
  .projects__link:link, .projects__link:visited {
    text-decoration: none;
    color: #bbe1fa;
    text-transform: lowercase; }
    .projects__link:link:hover, .projects__link:visited:hover {
      color: #0f4c75; }

.footer {
  padding-top: 2rem;
  padding-bottom: 8rem;
  background-color: #bbe1fa; }
  .footer__text {
    font-size: 1.6rem; }
