@keyframes moveLeft{
    0% {
        opacity: 0;
        transform: translateX(25rem);
    }

    40% {
        transform: translateX(0rem);
    }

    55% {
        transform: translateX(-10rem);
    }

    65% {
        opacity: 1;
        transform: translateX(0);        
    }

    75% {
        opacity: 0;
        transform: translateX(0);        
    }

    100% {
        opacity: 0;
        transform: translateX(0);        
    }
}

@keyframes shake{
    0% {
        transform: translateX(0);
    }

    55% {
        transform: translateX(-10rem);
    }

    65% {
        transform: translateX(0);        
    }

}