// CSS RESET

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // 10px = 1rem
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
}