.u-center-text { text-align: center; }

.u-margin-bot-sm { margin-bottom: 2rem; }
.u-margin-bot-md { margin-bottom: 4rem; }
.u-margin-bot-lg { margin-bottom: 8rem; }

.u-margin-top-sm { margin-top: 2rem; }
.u-margin-top-md { margin-top: 4rem; }
.u-margin-top-lg { margin-top: 8rem; }